etc/
vendor/
logs/
draft/
dist/
composer.lock
node_modules/
.quasar/
.env
.netrc
.htaccess
.DS_Store
*.mdb
*.db
movies.json
data.ms
images/*
cache/*
download/*
rendered-images/*


# Mac files
.DS_Store

# Dependency directories
/node_modules

# lerna files
/lerna-debug.log
remote/
remote-server/vendor